<!-- Loop over each object in the posts array -->
{{#each products as |product| }}
<div class="card mb-5">
    <div class="card-header bg-secondary">
        <h4 class="card-title"><a class="text-white" href="/product/{{product.id}}">{{product.name}}</a></h4>
        <h6 class="card-subtitle mb-2 text-light">Price {{product.price}}</h6>
    </div>
    <div class="card-body">
        <p class="card-text">$ {{product.price}}</p>
        <p class="card-text">No {{product.stock}} in stock</p>
        <p class="card-text">$ {{product.isSpecial}}</p>
        <p class="card-text">$ {{product.category_id}}</p>      
    </div>
</div>

{{/each}}